{% extends 'double_auction/includes/base_block.html' %}
{% block title %}Repository{% endblock %}
{% block content %}
    <div class="card">
        <table class="table table-striped header-fixed tablecol-4">
            <thead>
            <tr>
                <th>Cost</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Profit</th>
            </tr>
            </thead>
            <tbody class="repo_container">
            {% include 'double_auction/includes/repo_to_render.html' %}
            </tbody>
        </table>

{% endblock %}