{% extends 'double_auction/includes/base_block.html' %}
{% block title %}Bid-ask spread:{% endblock %}
{% block content %}
    <table class="table table-sm bitaskspread">
        <thead>
        <th></th>
        <th>Price</th>
        <th>Quantity</th>
        </thead>
        <tbody>
        <tr>
            <th>Best ask:</th>
            <td>1</td>
            <td>2</td>
        </tr>
        <tr>
            <th>Best bid:</th>
            <td>3</td>
            <td>4</td>
        </tr>
        </tbody>
    </table>
{% endblock %}